.consult-modal {
	position: fixed;
	inset: 0;
	z-index: 100;
	display: none; // по умолчанию закрыто
	align-items: center;
	justify-content: center;
	padding: 1.6rem;
	overflow: hidden;
	&__backdrop {
		position: absolute;
		inset: 0;
		background: #000000b2;
	}
	&__dialog {
		position: relative;
		overflow: auto;
		background: var(--color-white);
		border-radius: 1.2rem;
		box-sizing: border-box;
		width: 72.6rem;
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 5;
	}
	&.is-open {
		display: flex;
	}
	&__logo-bg {
		position: absolute;
		height: 59rem;
		width: auto;
		top: 0;
		right: 0;
		margin-top: 5.2rem;
		margin-right: 0rem;
		transform: scaleX(-1);
		opacity: 50%;
	}
	&__content {
		z-index: 5;
		position: relative;
	}
	.consult-form {
		&__field {
			display: block;
		}

		&__control {
			width: 100%;
			border: 0.2rem solid var(--color-grey-50);
			background: #ffffff00;
			padding: 1.3rem 1.8rem; // y / x
			outline: none;
			font: inherit;
			box-sizing: border-box;

			&::placeholder {
				font-family: 'IBM Plex Mono';
				text-transform: uppercase;
				color: var(--color-grey-50);
			}

			&:focus {
				border-color: var(--color-blue);
			}
		}

		&__textarea {
			height: 26rem;
			resize: none;
		}
	}
}
@include media-down($bp) {
	.consult-modal {
		&__logo-bg {
			height: 26rem;
			margin-top: 8.8rem;
		}
		.consult-form {
			&__control {
				&::placeholder {
					font-size: 1.4rem;
				}
			}

			&__textarea {
				height: 10rem;
			}
		}
	}
}
