.about {
	&__grid {
		grid-template-columns: auto 1fr;
		grid-template-rows: auto 1fr;
	}

	&__grid-img {
		grid-row: 1 / span 2;
		grid-column: 2;
	}
	&__logo-bg {
		top: 0;
		margin-left: -4rem;
		margin-top: 11rem;
	}
}
@include media-down($bp) {
	.about {
		&__grid {
			grid-template-columns: 1fr;
		}
		&__grid-img {
			grid-row: 2;
			grid-column: 1;
		}
		&__logo-bg {
			margin-left: unset;
			margin-right: -2rem;
			transform: scaleX(-1);
			right: 0;
			margin-top: -5rem;
		}
	}
}
