.catalog {
	&__dropdown-list-holder {
		&.is-collapsed {
			display: none;
		}

		&.is-open {
			display: flex;
		}
	}
	&__separator {
		display: block;
		height: 0.1rem;
		background-color: var(--color-grey-50);
		width: auto;
		margin-left: 4rem;
		margin-right: 4rem;
	}
	&__dropdown-list-line {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	&__dropdown-list {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	&__dropdown-slot {
		display: none;
	}
	.is-hidden {
		display: none;
	}
}
@include media-down($bp) {
	.catalog {
		&__dropdown-list {
			overflow-x: auto;
			align-items: stretch;
		}
		&__dropdown-slot {
			display: block;
			width: 100%;
		}
		&__dropdown-list-line {
			display: flex;
			&-drop {
				display: none;
				&.is-open {
					display: flex;
				}
			}
		}
	}
}
