.contacts {
	&__map {
		width: 100%;
		height: 100%;
	}
}

#contacts-map [class*='ground-pane'] {
	filter: grayscale(1) brightness(1.05) contrast(0.9);
}

@include media-down($bp) {
	.contacts {
		&__map {
			height: 30rem;
		}
	}
}
