.policy {
	&__logo-bg-top {
		top: 0;
		right: 0;

		margin-top: 5rem;
		transform: scaleX(-1);
	}
	&__logo-bg-bottom {
		bottom: 0;
		margin-left: -4rem;
		margin-bottom: 10rem;
	}
}
@include media-down($bp) {
	.policy {
		&__logo-bg-top {
			margin-right: -2rem;
			right: 0;
			margin-top: 0rem;
		}
	}
}
