.projects {
	&__grid-1 {
		grid-template-columns: 1fr 2fr;
		&_block {
			position: relative;
			overflow: hidden;
		}
		&_block-1 {
			grid-row: 1;
			grid-column: 1;
		}
		&_block-2 {
			grid-row: 2;
			grid-column: 1;
		}
		&_block-3 {
			grid-row: 1 / span 2;
			grid-column: 2;
		}
	}
	&__grid-2 {
		grid-template-columns: 1fr 1fr;
		&_block {
			position: relative;
			overflow: hidden;
		}
		&_block-1 {
			grid-row: 1 / span 2;
			grid-column: 1;
		}
		&_block-2 {
			grid-row: 1;
			grid-column: 2;
		}
		&_block-3 {
			grid-row: 2;
			grid-column: 2;
		}
	}
	&__grid-3 {
		grid-template-columns: 1fr 1fr;
		&_block {
			position: relative;
			overflow: hidden;
		}
		&_block-1 {
			grid-row: 1;
			grid-column: 1;
		}
		&_block-2 {
			grid-row: 2;
			grid-column: 1;
		}
		&_block-3 {
			grid-row: 1 / span 2;
			grid-column: 2;
		}
	}
	&__img-stack {
		position: absolute;
		left: -999rem;
		top: 0;
	}
}
