.header {
	&__logo-img {
		height: 5.3rem;
		width: 4.7rem;
	}
	&__logo-text {
		height: 2.1rem;
		width: 19rem;
	}
}

.mobile-dropdown {
	position: absolute;
	top: calc(100% + 1.6rem);

	left: 0;
	width: 100%;
	background-color: var(--color-white);
	border-top: 0.1rem solid var(--color-grey-50);

	opacity: 0;

	pointer-events: none;
	z-index: 20;
}
.mobile-dropdown__contact {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	margin-top: 5.4rem;
	padding-bottom: 1.6rem;
}

.mobile-dropdown.is-open {
	opacity: 1;
	pointer-events: auto;
}

.mobile-dropdown__nav {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	padding-left: 4.6rem;
	margin-top: 1.6rem;
}
@include media-down($bp) {
	.header {
		&__logo-img {
			height: 3.5rem;
			width: 3.1rem;
		}
		&__logo-text {
			height: 1.4rem;
			width: 12.6rem;
		}
	}
}
