@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
	font-family: 'Involve';
	src:
		url('../fonts/involve/TTF/Involve-Regular.woff2') format('woff2'),
		url('../fonts/involve/TTF/Involve-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Involve';
	src:
		url('../fonts/involve/TTF/Involve-Oblique.woff2') format('woff2'),
		url('../fonts/involve/TTF/Involve-Oblique.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Involve';
	src:
		url('../fonts/involve/TTF/Involve-Medium.woff2') format('woff2'),
		url('../fonts/involve/TTF/Involve-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Involve';
	src:
		url('../fonts/involve/TTF/Involve-MediumOblique.woff2') format('woff2'),
		url('../fonts/involve/TTF/Involve-MediumOblique.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Involve';
	src:
		url('../fonts/involve/TTF/Involve-SemiBold.woff2') format('woff2'),
		url('../fonts/involve/TTF/Involve-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Involve';
	src:
		url('../fonts/involve/TTF/Involve-SemiBoldOblique.woff2') format('woff2'),
		url('../fonts/involve/TTF/Involve-SemiBoldOblique.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Involve';
	src:
		url('../fonts/involve/TTF/Involve-Bold.woff2') format('woff2'),
		url('../fonts/involve/TTF/Involve-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Involve';
	src:
		url('../fonts/involve/TTF/Involve-BoldOblique.woff2') format('woff2'),
		url('../fonts/involve/TTF/Involve-BoldOblique.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
