html {
	font-family: 'Involve', sans-serif;
	color: var(--color-dark);
	font-size: 0.520835vw;
	font-style: normal;
	font-weight: normal;
	-webkit-animation: bugfix infinite 1s;
	line-height: 1.3;
	margin: 0;
	padding: 0;
}

body {
	font-style: normal;
	font-weight: normal;
	-webkit-animation: bugfix infinite 1s;
	line-height: 1.3;
	font-size: 1.8rem;
	font-weight: 500;
	margin: 0;
	padding: 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

input,
textarea {
	-webkit-animation: bugfix infinite 1s;
	line-height: inherit;
	margin: 0;
	padding: 0;
}

.global-padding-x {
	padding-left: 4rem;
	padding-right: 4rem;
}
.global-padding-top {
	padding-top: 3.4rem;
}
.global-padding-bottom {
	padding-bottom: 5rem;
}
.icon {
	display: block;
	&--blue {
		color: var(--color-blue);
	}
	&--white {
		color: var(--color-white);
	}
}
.font-ibm {
	font-family: 'IBM Plex Mono';
}

.button {
	&--text {
		padding-top: 1.6rem;
		padding-bottom: 1.6rem;
		padding-left: 2.2rem;
		padding-right: 2.2rem;
		display: flex;
		align-items: center;
		gap: 1.8rem;
		border: 0.2rem solid var(--color-blue);
		color: var(--color-blue);
		background-color: var(--color-white);
		&:hover {
			border-color: var(--color-white);
			color: var(--color-white);
			background-color: var(--color-blue);
		}
		&:active {
			color: var(--color-white);
			background-color: var(--color-blue);
			border-color: var(--color-blue);
		}
		&:disabled {
			border-color: var(--color-grey-50);
			color: var(--color-grey-50);
			pointer-events: none;
		}
	}
	&--icon {
		padding: 0.6rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 0.2rem solid var(--color-blue);
		&:hover {
			border-color: var(--color-white);
			color: var(--color-white);
			background-color: var(--color-blue);
		}
		&:active {
			color: var(--color-white);
			background-color: var(--color-blue);
			border-color: var(--color-blue);
		}
		&:disabled {
			border-color: var(--color-grey-50);
			color: var(--color-grey-50);
			pointer-events: none;
		}
	}
}
.blue-box {
	width: 0.6rem;
	height: 0.8rem;
	background-color: var(--color-blue);
	flex-shrink: 0;
}
.grey-box {
	width: 0.6rem;
	height: 0.8rem;
	background-color: var(--color-grey-100);
	flex-shrink: 0;
}
.nav-item {
	transition: all 0.5s ease;
	&:hover {
		color: var(--color-blue);
	}
}
.only-mobile {
	display: none;
}
.only-desktop {
	display: revert;
}
@include media-down($bp) {
	html {
		font-size: 10px;
		font-size: calc((100 / 375) * 10vw);
		-webkit-text-size-adjust: none;
	}

	body {
		-webkit-text-size-adjust: none;
	}
	.global-padding-x {
		padding-left: 2.2rem;
		padding-right: 2.2rem;
	}
	.global-padding-top {
		padding-top: 1.6rem;
	}
	.global-padding-bottom {
		padding-bottom: 4.6rem;
	}
	.only-mobile {
		display: revert !important;
	}
	.only-desktop {
		display: none !important;
	}
	.button {
		&--text {
			padding-top: 1.4rem;
			padding-bottom: 1.4rem;
			padding-left: 1.4rem;
			padding-right: 1.4rem;
			gap: 1.2rem;
			font-size: 1.4rem;
			font-weight: 600;
		}
	}
}
